<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".RemoteM1005App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@android:drawable/stat_sys_upload"
        android:roundIcon="@android:drawable/stat_sys_upload"
        android:theme="@style/Theme.RemoteM1005Printer"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".RemotePrintService"
            android:exported="true"
            android:label="@string/print_service_name"
            android:permission="android.permission.BIND_PRINT_SERVICE">
            <intent-filter>
                <action android:name="android.printservice.PrintService" />
            </intent-filter>
            <meta-data
                android:name="android.printservice"
                android:resource="@xml/printservice" />
        </service>
    </application>
</manifest>
